$medium: 480px;
$large: 768px;
.container--filter{
    width: 90%;
    max-width: 1150px;
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;

    .container--titles--filter{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        .separator--filter{
            width: 1px;
            height: fit-content;
            background-color: black;
        }
    }
    .title--sort{
        font-size: 1.5em;
        font-weight: 400;
        color: #868686;
        padding: 0px 5px;
    }
    .button--sort--container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }   
}
@media  screen and (min-width: $medium) {
}
@media  screen and (min-width: $large) {
    .container--filter{
        flex-direction: row;
    
        .container--titles--filter{
            flex-direction: row;
            width: 100%;
        }
        .title--sort{
            font-size: 1.3em;
            border-left: 1px solid #CCC;
            width: 25%;
            max-width: 100px;
            text-align: center;
        }
        .button--sort--container{
            width: 100%;
            max-width: 400px;
            justify-content: space-around;
        }   
    }
}