$small: 320px;
$medium: 480px;
$large: 768px;
$x-large: 1020px;

.navbar--container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    .user--info{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      p{
        font-size: 1.5em;
        font-weight: 400;
      }
      .user--points{
        display: flex;
        background-color: #e2e2e2;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;
        min-width: fit-content;
        padding: 5px 10px;
        cursor: pointer;
        user-select: none;
        p{
          font-size: 1.25em;
          font-weight: 400;
          text-align: center;
          margin: 0;
          user-select: none;
        }
        img{
          height: fit-content;
          
        }
      }
  }
}

@media screen and (min-width: 768px) {
  .navbar--container{
    .user--info{
      gap: 20px;
      p{
        font-size: 1.75em;
      }
    }
    .user--points{
      p{
        font-size: 1.5em;
      }
    }
  }
}